<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服務條款及隱私權政策</title>
</head>
<body>

<h1>會員的註冊義務及會員帳號、密碼安全</h1>
<p>Smoothtix股份有限公司（以下簡稱「本公司」）歡迎您使用本網站的服務。使用本網站服務即表示您同意遵守以下條款。</p>
<p>1.依本服務註冊流程之提示提供您本人正確及完整的資料，並維持、更新該資料，確保其為正確、最新及完整。</p>
<p>2.若您提供任何不完整、錯誤或不實的資料，本部有權暫停或終止您的帳號，並拒絕您使用本服務之全部或部分。</p>
<p>完成本服務的註冊流程後，您將收到註冊通知。您同意並承諾以下事項：</p>
<p>1.此帳號係不可轉讓。</p>
<p>2.您有責任維持此帳號及密碼的機密安全。</p>
<P>3.當您的帳號遭到盜用或有其他任何安全問題發生時，您將立即通知本部。</P>
<hr>
<h1>會員使用規範與義務</h1>
<p>除了遵守本服務條款之約定外，您同意遵守中華民國相關法規、本服務其他服務條款，並同意不從事以下行為： </p>
<p>您若係中華民國以外之使用者，並同意遵守所屬國家或地域之相關法規。您同意並保證絕不利用本服務從事違法或損害他人權益之行為。</p>
<p>1.冒用他人名義使用本服務。</p>
<p>2.侵害他人名譽、隱私權、著作權、智慧財產權及其他權利。</p>
<p>3.上載、張貼或公布任何不實、誹謗、侮辱、具威脅性、攻擊性、違背公序良俗、引人犯罪或其他不法之文字、圖片或任何形式的檔案。</p>
<p>4.違反依法律或契約所應負之保密義務。</p>
<p>5.上載、張貼或公佈任何含有電腦木馬、病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼或資料。</p>
<p>6.從事販賣槍枝、毒品、禁藥、盜版軟體、其他違禁物或其他不法交易行為。</p>
<p>7.破壞及干擾本服務所提供之各項資料、活動或功能，或以任何方式侵入、試圖侵入、破壞本服務之任何系統，或藉由本服務為任何侵害或破壞行為。</p>
<p>8.未經同意收集他人電子郵件位址及其他個人資料者。</p>
<p>9.其他本部有正當理由認為不適當之行為。</p>
<hr>
<h1>隱私權保護政策</h1>
<p>本公司相當重視隱私權的保護。關於您的會員註冊以及其他特定資料，將依本服務「隱私權保護政策」保護與規範。您了解並同意當您使用本服務時，本服務可依據「隱私權保護政策」之規範進行您個人資料的蒐集與利用，如數位服務個人化(My Data服務)、線上活動及網路調查等。</p>
<hr>
<h1>不得為商業使用</h1>
<p>您同意並承諾不對本服務提供之系統（不限於會員內容、會員帳號）、軟體使用或存取，進行任何商業目的之使用。</p>
<hr>
<h1>您對本服務之授權</h1>
<p>若您無合法權利得授權他人使用、修改、發行、散布、重製或公開展示某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、輸入或提供予本服務。您所上載、輸入或提供予本服務之任何資料，其權利仍為您或您的授權人所有；但任何資料一經您上載、輸入或提供予本服務時，即表示您已同意授權本部可以基於公益或為宣傳、推廣本服務之目的，進行使用、修改、發行、散布、重製或公開展示該等資料，並得在此範圍內將前述權利轉授權他人。您並保證本服務使用、修改、發行、散布、重製、公開展示或轉授權該資料，不致侵害任何第三人之相關權利，否則應對本部負損害賠償責任。</p>
<hr>
<h1>系統中斷或故障</h1>
<p>本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤等情形。您於使用本服務時宜自行採取防護措施。本部對於您因使用（或無法使用）本服務而造成的損害，不負任何賠償責任。</p>
<hr>
<h1>服務變更及通知</h1>
<p>您同意本部保留於任何時間點，不經通知隨時修改、暫時或永久停止繼續提供本服務（或其任一部分）的權利。如依法或其他相關規定須為通知時，本服務得以包括但不限於：張貼於本服務網頁、電子郵件，或其他現在或未來合理之方式通知您，包括本服務條款之變更。但若您違反本服務條款，以未經授權的方式存取本服務，或於註冊時所提供之資料不正確或未更新，您將不會收到前述通知。當您經由授權的方式存取本服務，您即同意本服務所為之任何及所有給您的通知，均視為送達。</p>
<hr>
<h1>智慧財產權的保護</h1>
<p>本服務所使用之程式、軟體及網站內容，包括但不限於：資訊、資料、圖片、檔案、網站架構、網頁設計及會員內容等，均由本部或其他權利人依法擁有其智慧財產權，包括但不限於專利權、著作權與專有技術等。任何人不得逕自修改、重製、散布、發行、公開發表、進行還原工程或反向組譯。若您欲引用或轉載前述資料，除明確為法律所允許者外，均須依法事前取得本部或其他權利人之書面同意。如有違反，您應負損害賠償責任。</p>


</body>
<style>
    body{background-color: #C8E2E6}
</style>
</html>