<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SMOOTHTIX | 抒情情歌王子，叼菸的猴子~</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>


<div th:insert="fragments/fragments.html :: header"></div>

<ul>
  <li> </li>
  <li> </li>
  <li></li>
</ul>

<div class="row">
  <div class="medium-5 columns" >
    <img class="thumbnail(up)" src="/images/示意圖2.jpg">
  </div>
  <div class="medium-4 large-6 columns">
    <h3>抒情情歌王子，叼菸的猴子~</h3>
    <p>深陷抒情情歌王子的音樂魅力中，這位獨特的猴子以他叼著煙的風格，編織著一段段動人的旋律。他的歌聲如同悠扬的詩篇，細膩地描繪愛情、生命的轉折，讓人仿佛置身於一幅浪漫的畫卷之中。每一首歌都是他心靈深處的故事，透過音符傳達著愛、別離和重逢。</p>

    <p>這隻叼著煙的猴子，不僅僅是一位歌手，更是一位情感的詩人。他的音樂打破了傳統的框架，散發出迷人的魅力，讓人無法自拔。在他的音樂中，你會找到屬於自己的共鳴，彷彿每一個音符都是他用心吟唱的情感。</p>

    <p>購買票券，讓這位音樂猴子帶領你進入他獨特的音樂世界。在音符的陪伴下，感受愛情的深度，漫遊在他的音樂迷宮中，讓心靈在旋律中激盪，一場奇幻的音樂之旅即將展開。</p>

    <form id="addToCartForm" method="post" action="/shopping/addToCart">
      <label for="dateandlocation">場次/地點</label>
      <select id="dateandlocation" name="dateandlocation" data-dateandlocation="value">
        <option value="1/13台北兩廳院">1/13台北兩廳院</option>
        <option value="1/13台中歌劇院">1/13台中歌劇院</option>
        <option value="1/13高雄衛武營">1/13高雄衛武營</option>
        <option value="1/20台北兩廳院">1/20台北兩廳院</option>
        <option value="1/20台中歌劇院">1/20台中歌劇院</option>
        <option value="1/20高雄衛武營">1/20高雄衛武營</option>
      </select>

      <label for="price">價格</label>
      <select id="price" name="price" data-price="value">
        <option value="400">NT$400</option>
        <option value="500">NT$500</option>
        <option value="600">NT$600</option>
      </select>

      <label for="quantity">數量
        <select id="quantity" name="quantity" data-quantity="value">
          <option value="1">1張</option>
          <option value="2">2張</option>
          <option value="3">3張</option>
          <option value="4">4張</option>
          <option value="5">5張</option>
          <option value="6">6張</option>
        </select>
      </label>


      <label for="payment">支付方式
        <select id="payment" name="payment" data-payment="value">
          <option value="信用卡">信用卡</option>
          <option value="超商付款">超商付款</option>
          <option value="轉帳">轉帳</option>
        </select>
      </label>

      <label for="collection">取票方式
        <select id="collection" name="collection" data-collection="value">
          <option value="超商取票">超商取票</option>
          <option value="現場取票">現場取票</option>
          <option value="電子票券">電子票券</option>
        </select>
      </label>

    <input type="submit" value="加入購物車" class="button large expanded">
    </form>

    <div class="small secondary expanded button-group">

    </div>
  </div>
</div>
<ul>
  <li> </li>
  <li> </li>
</ul>
<h3>其他更多選擇~</h3>
<ul>
  <li> </li>
</ul>
<a href="/concert-page/first">
  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="/images/示意圖1.jpg">
    </div>
    <div class="media-object-section">
      <h5>搖滾巨星，來自英國的鬍子大叔!</h5>
      <p>準備好迎接一場音樂之夜，因為英國的鬍子大叔即將在舞台上掀起一場搖滾旋風！這位傳奇巨星以他無與倫比的音樂才華和搖滾魅力聞名於世，而這次的演唱會將是一場震撼心靈的現場饗宴。</p>
    </div>
  </div>
</a>
<a href="/concert-page/third">
  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="/images/示意圖3.jpg">
    </div>
    <div class="media-object-section">
      <h5>鄉村吉他手，鄉村抒情小調~</h5>
      <p>沉浸在鄉村吉他手的音樂世界中，這位才子以他手中的吉他，演奏著鄉村抒情小調，帶領聽眾走進一片充滿自然、樸實的音樂田園。他的音樂彷彿是大地的呼吸，每一個音符都像是風吹過麥浪的聲音，散發著濃濃的鄉愁。</p>
    </div>
  </div>
</a>


<footer>
  <div th:insert="fragments/fragments.html :: footer"></div>
</footer>

<style>
  p {
    letter-spacing: 2px;
  }
  h3{
    letter-spacing: 1px;
  }
  img.thumbnail {
    max-width: 200px; /* 設定最大寬度為200像素 */
    max-height: 200px; /* 設定最大高度為200像素 */
    width: auto; /* 讓圖片按照比例縮放 */
    height: auto; /* 讓圖片按照比例縮放 */
  }
</style>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).ready(function() {
    $("#addToCartForm").submit(function(event) {
      event.preventDefault(); // 阻止表單默認提交

      // 序列化表單數據
      var formData = $(this).serialize();

      var dateandlocation = $('#dateandlocation').val();
      var price = $('#price').val();
      var quantity = $('#quantity').val();
      var payment = $('#payment').val();
      var collection = $('#collection').val();

      // 獲取演唱會名稱和圖片，這裡假設你已經有相應的變數或者函數可以獲取它們
      var concertName = "抒情情歌王子，叼菸的猴子~";  // 替換為實際獲取演唱會名稱的代碼
      var concertImage = "/images/示意圖2.jpg";  // 替換為實際獲取演唱會圖片的代碼

      sessionStorage.setItem('concertName', concertName);
      sessionStorage.setItem('concertImage', concertImage);
      sessionStorage.setItem('dateandlocation', dateandlocation);
      sessionStorage.setItem('price', price);
      sessionStorage.setItem('quantity', quantity);
      sessionStorage.setItem('payment', payment);
      sessionStorage.setItem('collection', collection);

      // 執行AJAX請求
      $.ajax({
        type: "POST",
        url: "/shopping/addToCart",
        data: formData,
        success: function() {
          // 處理成功後，跳轉購物車頁面
          window.location.href = "/shopping/cart";
        },
        error: function(error) {
          console.error("Error:", error);
        }
      })
    });
  });
  // 將數據存儲到 sessionStorage

</script>
</body>
</html>



