<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SMOOTHTIX | 搖滾巨星，來自英國的鬍子大叔!</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

<div th:insert="/fragments/fragments.html :: header"></div>

<ul>
  <li> </li>
  <li> </li>
  <li></li>
</ul>

<div class="row">
  <div class="medium-5 columns">
    <img class="thumbnail(up)" src="/images/示意圖1.jpg">
  </div>
  <div class="medium-4 large-6 columns">
    <h3>搖滾巨星，來自英國的鬍子大叔!</h3>
    <p>準備好迎接一場音樂之夜，因為英國的鬍子大叔即將在舞台上掀起一場搖滾旋風！這位傳奇巨星以他無與倫比的音樂才華和搖滾魅力聞名於世，而這次的演唱會將是一場震撼心靈的現場饗宴。</p>

    <p>他那振奮人心的吉他演奏和磁性的嗓音，絕對會讓你沉浸在音樂的海洋中。這不僅僅是一場演唱會，更是一場與音樂巨星近距離互動的難得機會。無論你是搖滾樂的愛好者還是正在尋找震撼感的音樂探索者，這場演唱會都將是你難以忘懷的音樂體驗。</p>

    <p>立即購買票券，加入我們，與這位鬍子大叔一同燃燒搖滾之夜，讓音樂的激情在心中迸發！</p>

    <form th:action="@{/shopping/addToCart}" method="post">
      <label for="select1">場次/地點</label>
        <select id="select1" name="dateandlocation">
              <option value="1/13台北兩廳院">1/13台北兩廳院</option>
              <option value="1/13台中歌劇院">1/13台中歌劇院</option>
              <option value="1/13高雄衛武營">1/13高雄衛武營</option>
              <option value="1/20台北兩廳院">1/20台北兩廳院</option>
              <option value="1/20台中歌劇院">1/20台中歌劇院</option>
              <option value="1/20高雄衛武營">1/20高雄衛武營</option>
            </select>
          </label>
        </select>
      </label>

      <label for="select2">價格</label>
      <select id="select2" name="price">
        <option value="400">NT$400</option>
        <option value="500">NT$500</option>
        <option value="600">NT$600</option>
      </select>

      <label for="select3">數量
        <select id="select3" name="quantity">
          <option value="1">1張</option>
          <option value="2">2張</option>
          <option value="3">3張</option>
          <option value="4">4張</option>
          <option value="5">5張</option>
          <option value="6">6張</option>
        </select>
      </label>

      <label for="select4">支付方式
        <select id="select4" name="payment">
          <option value="信用卡">信用卡</option>
          <option value="超商付款">超商付款</option>
          <option value="轉帳">轉帳</option>
        </select>
      </label>

      <label for="select5">取票方式
        <select id="select5" name="collection">
          <option value="超商取票">超商取票</option>
          <option value="現場取票">現場取票</option>
          <option value="電子票券">電子票券</option>
        </select>
      </label>

      <input type="submit" value="加入購物車" class="button large expanded">
    </form>

    <div class="small secondary expanded button-group">

    </div>
  </div>
</div>

<ul>
  <li> </li>
  <li> </li>
</ul>
<h3>其他更多選擇~</h3>
<ul>
  <li> </li>
</ul>
<a href="/concert-page/second">
  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="/images/示意圖2.jpg">
    </div>
    <div class="media-object-section">
      <h5>抒情情歌王子，叼菸的猴子~</h5>
      <p>這隻叼著煙的猴子，不僅僅是一位歌手，更是一位情感的詩人。他的音樂打破了傳統的框架，散發出迷人的魅力，讓人無法自拔。在他的音樂中，你會找到屬於自己的共鳴，彷彿每一個音符都是他用心吟唱的情感。</p>
    </div>
  </div>
</a>
<a href="/concert-page/third">
  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="/images/示意圖3.jpg">
    </div>
    <div class="media-object-section">
      <h5>鄉村吉他手，鄉村抒情小調~</h5>
      <p>沉浸在鄉村吉他手的音樂世界中，這位才子以他手中的吉他，演奏著鄉村抒情小調，帶領聽眾走進一片充滿自然、樸實的音樂田園。他的音樂彷彿是大地的呼吸，每一個音符都像是風吹過麥浪的聲音，散發著濃濃的鄉愁。</p>
    </div>
  </div>
</a>

<footer>
  <div th:insert="/fragments/fragments.html :: footer"></div>
</footer>

<style>
  p {
    letter-spacing: 2px;
  }

  h3 {
    letter-spacing: 1px;
  }

  img.thumbnail {
    max-width: 200px; /* 設定最大寬度為200像素 */
    max-height: 200px; /* 設定最大高度為200像素 */
    width: auto; /* 讓圖片按照比例縮放 */
    height: auto; /* 讓圖片按照比例縮放 */
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
