<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/CSS/shopping-cart.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
</head>
<script>
    $(document).ready(function() {
        // 從 Local Storage 中獲取數據
        var dateandlocation = localStorage.getItem('dateandlocation');
        var price = localStorage.getItem('price');
        var quantity = localStorage.getItem('quantity');
        var payment = localStorage.getItem('payment');
        var collection = localStorage.getItem('collection');


        // 在這裡你可以使用這些變量執行你的邏輯，例如填充購物車表格等
        console.log('Date and Location:', dateandlocation);
        console.log('Price:', price);
        console.log('Quantity:', quantity);
        console.log('Payment:', payment);
        console.log('Collection:', collection);

        // 將數據填充到購物車表格
        var cartTableBody = $('#cartBody');
        var totalPrice = 0;

        // 假設只有一個產品，你可以根據實際情況擴展這個邏輯
        var productTotalPrice = price * quantity;
        totalPrice += productTotalPrice;

        var newRow = '<tr>' +
            '<td class="text-center">' + dateandlocation + '</td>' +
            '<td class="text-center">' + collection + '</td>' +
            '<td class="text-right">' + price + '</td>' +
            '<td class="text-center">' + quantity + '</td>' +
            '<td class="text-right">' + productTotalPrice.toFixed(2) + '</td>' +
            '<td class="text-center align-middle py-3 px-0"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></td>' +
            '</tr>';

        cartTableBody.append(newRow);

        // 更新總價格
        $('#totalPrice strong').text('$' + totalPrice.toFixed(2));
    });
</script>

<body>

<div th:insert="/fragments/fragments.html :: header"></div>

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>購物車</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="cartTable" class="table table-bordered m-0">
                    <thead>
                    <tr>
                        <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px">產品名稱 &amp; 產品明細</th>
                        <th class="text-center py-3 px-4" style="min-width: 400px">取貨方式</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">價格</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">數量</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">加總價格</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>
                    <tbody id="cartBody">
                    <!-- Cart items will be dynamically added here -->
                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">

            </div>
            <div class="d-flex">

            </div>
            <div class="text-right mt-4">
                <label class="text-muted font-weight-normal m-0">Total price</label>
                <div id="totalPrice" class="text-large"><strong>$0.00</strong></div>
            </div>
        </div>

        <div class="float-right">
            <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
            <button type="button" class="btn btn-lg btn-primary mt-2">結帳</button>
        </div>

    </div>
</div>
<footer>
    <div th:insert="/fragments/fragments.html :: footer"></div>
</footer>
</body>

</html>
